@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';
/*** item-details ***/
.item-details {
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'image info'
    'description info';
  gap: 15px;
  .item-image {
    grid-area: image;
    text-align: center;
    img {
      height: auto;
      object-fit: contain;
    }
  }
  .item-info {
    grid-area: info;
    .item-condition {
      @include mxs-fz(14);
      color: $text-color-op-1;
      margin-bottom: 0.9375rem;
    }
    .item-title {
      grid-template-columns: 1fr 0.5fr;
      margin-bottom: 1.875rem;
      h1 {
        @include mxs-fz(24);
        font-weight: 600;
        line-height: 1.18;
        color: $text-color-op-2;
      }
    }
    .item-price {
      @include mxs-fz(36);
      line-height: 1.17;
      font-weight: 400;
      color: $text-color-op-2;
      sup {
        display: inline-block;
        position: relative;
        top: 3px;
        @include mxs-fz(24);
        line-height: 4px;
        font-weight: 400;
        color: $text-color-op-2;
        margin-left: 5px;
      }
    }
    .item-buy {
      padding-top: 3.375rem;
    }
  }
  .item-description {
    grid-area: description;
    padding-top: 10rem;
    h2 {
      @include mxs-fz(24);
      font-weight: 600;
      color: $text-color;
      margin-bottom: 1.375rem;
    }
    p {
      @include mxs-fz(18);
      color: $text-gray;
      font-weight: 400;
    }
  }
}
