@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500;600;700&display=swap');
@import "./mixins.scss";
@import "./variables.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  background-color: $body-bg-color;
  font-family: $font-f-base;
  @include mxs-fz(16);
  line-height: normal;
}
