$font-f-base: 'Barlow Semi Condensed', sans-serif;

$body-bg-color: #fff;
$white : #fff;
$blue : #3483FA;
$blue-hover : #2968c8;
$beige : #e6e6e6;

$base-color: #fff159;
$text-color: #000000;
$text-color-op-1: rgba(0, 0, 0, 0.55);
$text-color-op-2: rgba(0, 0, 0, 0.9);
$text-color-op-3: rgba(0, 0, 0, 0.25);
$text-green: #00a650;
$text-gray: #666;
$text-gray-2: #ebebeb;

